@import 'libs/normalize';
@import 'components/header';
@import 'components/slider';
@import 'components/card';

body{
 
  background-color: #E6F6FF;
  margin: 0;
  padding: 20px;
  
}
.container{
  width: 100%;
  max-width: 1080px;
  margin:  10px auto;
  background-color: #fff;
  border-radius: 20px;
}


.title{
  width: 100%;
  align-items: center;
}
.search{

  width: 250px;
  height: 45px;
  

  input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    
    
  }
}

.item__card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}